body {
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

.Stock {
    width: 60%;
    padding: 20px;
}

.Stock h2 {
    margin-bottom: 20px;
}

.Stock table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.Stock th, .Stock td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.Stock th {
    background-color: #f4f4f4;
}

.cart {
    width: 28%;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 2px solid #ddd;
    margin-top: 80px;
    margin-right: 70px;
}

.cart h2 {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item div {
    display: flex;
    align-items: center;
}

.cart-item button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.cart-item button:hover {
    background-color: #218838;
}

.cart-item .remove {
    background-color: #dc3545;
}

.cart-item .remove:hover {
    background-color: #c82333;
}

.cart-summary {
    margin-top: 20px;
    font-size: 18px;
}

.checkout {
    margin-top: 10px;
    margin-left:90px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

.checkout:hover {
    background-color: #218838;
}
